@font-face {
    font-family: 'poppins-regular';
    src: url('/assets/fonts/Poppins/Poppins-Regular.ttf')format('truetype');
}
.poppins-regular{
    font-family: 'poppins-regular';
}
@font-face {
    font-family: 'poppins-medium';
    src: url('/assets/fonts/Poppins/Poppins-Medium.ttf')format('truetype');
}
.poppins-medium{
    font-family: 'poppins-medium';
}
@font-face {
    font-family: 'poppins-bold';
    src: url('/assets/fonts/Poppins/Poppins-Bold.ttf')format('truetype');
}
.poppins-bold{
    font-family: 'poppins-bold';
}