.spad {
    padding-top: 100px;
    padding-bottom: 90px;
}

.about-text h2 {
    font-size: 40px;
    color: #20509e;
    margin-bottom: 25px;

}

.about-text h5 {
    color: #20509e;
    margin-bottom: 20px;
}

.about-text p {
    color: #75849a;
    font-size: 18px;
}

